<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="mb-5 rounded-circle bg-secondary" width="300" src="/assets/404.png" alt="404 Image" />
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-uppercase mb-0">404 NOT FOUND</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <a class="text-light link-404" href="/" style="text-decoration:none">
      <h3>Go To Home Page</h3>
    </a>
  </div>
</header>