<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">
          2215 John Daniel Drive
          <br />
          Clark, MO 65243
        </p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
      </div>
      <!-- Footer About Text-->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">About Freelancer</h4>
        <p class="lead mb-0">
          Freelance is a free to use, MIT licensed Bootstrap theme created by
          <a href="http://startbootstrap.com">Start Bootstrap</a>
          .
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
  <div class="container"><small>Copyright &copy; Your Website 2023</small></div>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>


<% if (typeof projects !== 'undefined') {%>
<script>
  const projects = JSON.parse(`<%- JSON.stringify(projects) %>`);
  const modalTitle = document.getElementById('modal_title');
  const modalDescription = document.getElementById('modal_description');
  const modalImage = document.getElementById('modal_img');

  function showDetails(id) {
    const project = projects.find(p => p.id === id);

    modalTitle.textContent = project.title;
    modalDescription.textContent = project.description;
    modalImage.setAttribute('src', project.photo);
    modalImage.setAttribute('alt', project.title + 'Image');

  }
</script>

<% } %>

<% if (userIN) {%>
<script src="/js/panel.js"></script>
<%} %>

<script>
  const succNoti = document.getElementById('success-noti');

  if (succNoti) {
    setTimeout(() => {
      succNoti.remove();
    }, 2500)
  }
</script>

</body>

</html>