.edit-btn:hover,.remove-btn:hover{
    color: whitesmoke !important;
    border-radius: 50%;
}

#info-alert, #error-alert, #success-alert, #warning-alert {
    display: none;
    transition: opacity 0.5s;
    opacity: 0;
}
.d-flex {
    display: flex !important;
    opacity: 1;
}

.portfolio-grid-container{
    transition: margin-top 0.5s ease-in-out;
    margin-top: 0;
}

label.photo-input{
    color: #7f7f7f;
}

textarea{
    resize: none;
}